:host {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.label-pair {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

input, select {
  width: 200px;
}

button {
  width: 50%;
  margin-left: 25%;
}

label {
  text-align: left;
}

.content-id {
  flex-direction: rows;
  align-items: flex-end;
}

.conditions-block button {
  width: 25%;
  margin-left: 0px;
}

.conditions-block input:first-child, .conditions-block input:nth-child(3) {
  width: 40%;
}

.conditions-block input:nth-child(2) {
  width: 5%;
  margin: 1px 5px;
}

li {
  color: black;
}