:host {
  align-items: stretch;
  justify-content: space-between;
}

.label-pair {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

input, select {
  width: 200px;
}

button {
  width: 50%;
  margin-left: 25%;
}