:host {
  align-items: stretch;
}

.label-pair {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

input, select {
  width: 200px;
}

.results {
  justify-content: none;
  position: relative;
  bottom: 0px;
  background-color: #282828;
  border: inset;
  padding: 5px;
  border-radius: 5px;
  height: 70%;
  overflow: scroll;
  color: #FFB000;
}